$primary-color: #05770f;
$font-size: 16px;

@mixin button-styles($radius) {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    margin: 5px 3px 5px 0px;
    border-radius: $radius;
}

@mixin input-style(){
    padding: 10px 10px;
    height: 40px;
    margin-right: 5px;
}

.app-body-container{
    display: flex;
    justify-content: space-between;

}

.main-container{
    flex-grow:1;
    max-width: 50%;
    margin: 0px 20px;
}


.app-header {
    text-align: center;
}

.button {
  @include button-styles(5px);
  display: block;
}

.button-inline{
    @include button-styles(5px);
}


.add-input{
    @include input-style();
    width: 100%;
}

.search-input{
    @include input-style();
    width: 50%;
}

.todo-list{
    height:300px;
    overflow-y: scroll;
}

.pending-todo-list{
    height:50%;
}

.todo-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 5px;
    margin: 10px 5px 10px 0px;
    padding: 0 10px;
    height:100px;
    .todo-header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .todo-footer{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .todo-date{
        color: rgb(148,146,146);
    }
    .todo-content{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%; 
        padding: 3px 20px;
    }
}
.done-todo-list{
    .todo-content{
        text-decoration: line-through;
    }
}